$font: 'Libre Franklin', sans-serif;

// ### Primary

$color-Blue: hsl(223, 87%, 63%);

// ### Secondary

$color-Pale-Blue: hsl(223, 100%, 88%);
$color-Light-Red: hsl(354, 100%, 66%);

// ### Neutral

$color-Gray: hsl(0, 0%, 59%);
$color-Very-Dark-Blue: hsl(209, 33%, 12%);
